[Unit]
Description=Cleanup pods terminated by node shutdown
Documentation=https://devnonsense.com/posts/k3s-on-fedora-coreos-bare-metal/
Wants=k3s.service
ConditionPathExists=/var/home/core/.kube/config

[Service]
Type=oneshot
Environment=KUBECONFIG=/var/home/core/.kube/config
ExecStart=/usr/bin/kubectl delete pods --field-selector status.phase=Failed -A --ignore-not-found=true
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target