[Unit]
Description=Lightweight Kubernetes - k3s
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target
ConditionPathExists=/usr/share/selinux/packages/k3s.pp

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/%N.env
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=/bin/sh -xc '! /usr/bin/systemctl is-enabled --quiet nm-cloud-setup.service 2>/dev/null'
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/bin/k3s server --kubelet-arg="config=/etc/rancher/k3s/kubelet.config"

[Install]
WantedBy=multi-user.target