name: stable
on:
  merge_group:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"
  schedule:
    - cron: "55 2 * * *" # 2:55am-ish UTC everyday (approx 50 minutes after akmods images run)
  workflow_dispatch:

jobs:
  build-stable:
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    with:
      coreos_version: stable
      arch: "['x86_64']"
